#grid {
    width: 707px;
	height: 707px;
    display: flex;
    position: absolute;
	flex-wrap: wrap;
	transform: translate(70%, 0%);
}

.square {
    height: 18.2px;
	width: 18.2px;
    border: solid black 1px;
}

.backGroundColorEmpty {
    background-color: chartreuse;
}

.backGroundColorWall {
    background-color: black;
}

.backGroundColorStart {
    background-color: fuchsia;
}

.backGroundColorFinish {
    background-color: fuchsia;
}

.backGroundColorCurrent {
    background-color: blue;
}

.backGroundColorKey{
    background-color:goldenrod;
}

.infoDisplay{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size: 4.5vw;  
}

/*smaller screens*/
@media screen and (max-width: 1280px){
    #grid {
        width: 606px;
        height: 606px;        
        display: flex;
        position: absolute;
        flex-wrap: wrap;
        transform: translate(75%, 0%);
    }
    
    .square {
        height: 15.32px;
        width: 15.32px;
        border: solid black 1px;
    }
    
    .backGroundColorEmpty {
        background-color: chartreuse;
    }
    
    .backGroundColorWall {
        background-color: black;
    }
    
    .backGroundColorStart {
        background-color: fuchsia;
    }
    
    .backGroundColorFinish {
        background-color: fuchsia;
    }
    
    .backGroundColorCurrent {
        background-color: blue;
    }

    .backGroundColorKey{
        background-color:gold;
    }    
    
    .infoDisplay{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        font-size: 4.5vw;  
    }
        
    
}

