.grid {
    /*
    width: 606px;
	height: 606px;
	*/
    /*
    width: 909px;
	height: 909px;
    */
    /* worked on lenovo, but funky on mac book
    width: 48vw;
	height: 48vw;
    */
    width: 45vw;
    height: 45vw;
    display: flex;
    /*display: inline;*/
    /*float: right;*/
    position: absolute;
	flex-wrap: wrap;
	transform: translate(50%, 0%);
}

.square {
    /*
	height: 23.98px;
	width: 23.98px;
    */
    /*worked on lenovo, but funky on mac book
    height: 1.2675vw;
	width: 1.2675vw;
    */
    height: 1.181vw;
    width: 1.181vw;
    border: solid black 1px;
}

.backGroundColorEmpty {
    background-color: chartreuse;
}

.backGroundColorWall {
    background-color: black;
}

.backGroundColorStart {
    background-color: fuchsia;
}

.backGroundColorFinish {
    background-color: fuchsia;
}

.backGroundColorCurrent {
    background-color: blue;
}

.infoDisplay{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size: 4.5vw;  
}


