.grid {
    /*
    width: 606px;
	height: 606px;
	*/
    width: 909px;
	height: 909px;
    
    display: flex;
    /*display: inline;*/
    /*float: right;*/
    position:absolute;
	flex-wrap: wrap;
	transform: translate(50%, 0%);
}

.square {
	height: 23.98px;
	width: 23.98px;
	border: solid black 1px;
}

.backGroundColorEmpty {
    background-color: chartreuse;
}

.backGroundColorWall {
    background-color: black;
}

.backGroundColorStart {
    background-color: fuchsia;
}

.backGroundColorFinish {
    background-color: fuchsia;
}

.backGroundColorCurrent {
    background-color: blue;
}

.infoDisplay{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size: 4.5vw;  
}


