.grid {
    /*
    width: 606px;
	height: 606px;
	*/
    /*909px is too tall for a lot of screens*/
    /*
    width: 808px;
	height: 808px;
    */
    width: 707px;
	height: 707px;

    /*
    width: 900px;
	height: 900px;
    */
    /* worked on lenovo, but funky on mac book */
    /*
    width: 48vw;
	height: 48vw;
    */
    /*
    width: 45vw;
    height: 45vw;
    */
    display: flex;
    /*display: inline;*/
    /*float: right;*/
    position: absolute;
	flex-wrap: wrap;
	/*transform: translate(50%, 0%);*/
	/*transform: translate(60%, 0%);*/
	transform: translate(70%, 0%);
}

.square {
    /*
	height: 23.98px;
	width: 23.98px;
    */
    /*
    height: 21.08px;
	width: 21.08px;
    */
    height: 18.2px;
	width: 18.2px;

    /*worked on lenovo, but funky on mac book */
    /*
    height: 1.2675vw;
	width: 1.2675vw;
    */
    /*
    height: 1.23vw;
	width: 1.23vw;
    */
    /*
    height: 1.181vw;
    width: 1.181vw;
    */
    border: solid black 1px;
    /*border: solid black 0.071vw;*/
    /*border: solid black 0.001vw;*/
}

.backGroundColorEmpty {
    background-color: chartreuse;
}

.backGroundColorWall {
    background-color: black;
}

.backGroundColorStart {
    background-color: fuchsia;
}

.backGroundColorFinish {
    background-color: fuchsia;
}

.backGroundColorCurrent {
    background-color: blue;
}

.infoDisplay{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size: 4.5vw;  
}

/*it looks fine on your lenovo, but can't see entire maze on like a macbook*/
@media screen and (max-width: 1280px){
    .grid {
        /*606px and this media query works on macbook 13"*/
        width: 606px;
        height: 606px;
        
        /*
        width: 909px;
        height: 909px;
        */
        display: flex;
        position: absolute;
        flex-wrap: wrap;
        /*transform: translate(50%, 0%);*/
        transform: translate(75%, 0%);
    }
    
    .square {
        /*
        height: 23.98px;
        width: 23.98px;
        */
        height: 15.32px;
        width: 15.32px;

        border: solid black 1px;
    }
    
    .backGroundColorEmpty {
        background-color: chartreuse;
    }
    
    .backGroundColorWall {
        background-color: black;
    }
    
    .backGroundColorStart {
        background-color: fuchsia;
    }
    
    .backGroundColorFinish {
        background-color: fuchsia;
    }
    
    .backGroundColorCurrent {
        background-color: blue;
    }
    
    .infoDisplay{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        font-size: 4.5vw;  
    }
        
    
}

